.article-entry
  blockquote
    padding: 8px 12px;
    margin: 0 0 24px;
    border-left: 6px solid #dddfe4;
    background: #eef0f4;
    overflow: auto;
    text-align: left;
    p
      font-size: 12px;
      line-height: 20px;
      color: #999;
      font-weight: 400;
      margin: 0;